angiosperms filter=lfs diff=lfs merge=lfs -text
grasses filter=lfs diff=lfs merge=lfs -text
spiders filter=lfs diff=lfs merge=lfs -text
angiosperms/CDS12_FcC_supermatrix.fas filter=lfs diff=lfs merge=lfs -text
angiosperms/cds12_outgroup_removed.tree filter=lfs diff=lfs merge=lfs -text
angiosperms/cds_outgroup_removed.tree filter=lfs diff=lfs merge=lfs -text
angiosperms/RAxML_bipartitions.CDS_FcC_partition filter=lfs diff=lfs merge=lfs -text
angiosperms/cds12_outgroup_removed.fasta filter=lfs diff=lfs merge=lfs -text
angiosperms/CDS_FcC_supermatrix.fas filter=lfs diff=lfs merge=lfs -text
angiosperms/cds_outgroup_removed.fasta filter=lfs diff=lfs merge=lfs -text
angiosperms/RAxML_bipartitions.CDS12_partition filter=lfs diff=lfs merge=lfs -text
grasses/plastid245.nex filter=lfs diff=lfs merge=lfs -text
grasses/plastid245.nwk filter=lfs diff=lfs merge=lfs -text
spiders/convert.py filter=lfs diff=lfs merge=lfs -text
spiders/missing_species.fasta filter=lfs diff=lfs merge=lfs -text
spiders/missing_species.nex filter=lfs diff=lfs merge=lfs -text
spiders/mitocondrial.fasta filter=lfs diff=lfs merge=lfs -text
spiders/ml_mitdochondrial.tree filter=lfs diff=lfs merge=lfs -text
spiders/ml_noncoding.tree filter=lfs diff=lfs merge=lfs -text
spiders/noncoding.nex filter=lfs diff=lfs merge=lfs -text
spiders/original filter=lfs diff=lfs merge=lfs -text
spiders/mitocondrial.nex filter=lfs diff=lfs merge=lfs -text
spiders/ml_missing_species.tree filter=lfs diff=lfs merge=lfs -text
spiders/ml_primary.tree filter=lfs diff=lfs merge=lfs -text
spiders/primary.nex filter=lfs diff=lfs merge=lfs -text
spiders/original/Leduc-Robert&Maddison_Habronattus-AlignedMatrices.tgz filter=lfs diff=lfs merge=lfs -text
spiders/original/Leduc-Robert&Maddison_Habronattus-Trees.nex filter=lfs diff=lfs merge=lfs -text
grasses/plastid245.fasta filter=lfs diff=lfs merge=lfs -text
