---
Language:        Cpp
BasedOnStyle:  LLVM
AllowShortIfStatementsOnASingleLine: Always
AllowShortBlocksOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
BreakStringLiterals: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
...
