[submodule "test/lib/catch2"]
	path = test/lib/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "lib/coraxlib"]
	path = lib/coraxlib
	url = https://codeberg.org/Exelixis-Lab/coraxlib.git
