language: cpp

env:
  - MATRIX_EVAL="CC=clang && CXX=clang++"
  - MATRIX_EVAL="CC=gcc-9 && CXX=g++-9"
  - MATRIX_EVAL="CC=gcc-8 && CXX=g++-8"
  - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"

before_install:
  - eval "${MATRIX_EVAL}"

os:
  - linux

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-9
      - g++-8
      - g++-7

branches:
  only:
  - master
  - "/^v\\d+\\./"

script: VERBOSE=1 make

stages: 
  - test
  - deploy

jobs:
  include:
    - os: linux
      env: MATRIX_EVAL="CC=gcc-9 && CXX=g++-9"
      stage: deploy
      script: VERBOSE=1 make static
      after_script: file bin/rd
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-9
            - g++-8
            - g++-7
            - libasan
      deploy:
        provider: releases
        api_key:
          secure: OVQRNLwhNDngaKdsUqYED2wWkP9U6sVeWXdxU8x2uC7gZGkec/1hunvSY/oKpMd369yqxbm5xDiYvfU/m98TD9kP5bAre0+MHr+FkIRlYqyNI3owfjMZi6XhDBcRzplEziKiE9+QOf3o+0+0Rzd3tx68ncRR0cifbVMM1XYYryY4FEaPn4a8j9ZW+5M3jljGCFNuYgEL/7utsN/dtcW8+ooD0Em/dw65kYVAOjMZc6xzWfaKWz9FxXK8Hw/s7EkVUHWcNGAaPPsVVBWQDmba57ITzPz71zrDDK0dLuhmaqmL1xXEHMe8BMPLWd7Xv3lvcCYQ03W6QOQ+NNHwvVhE7Q5RjjM5ekJVvjv5rcJ4gFvArB9uLIMcLj3bBVd0FtRriGVLGcRnjsgc1ixQqaZ+KIkCZrPM8830hhFxSEaw/XTjAiH5nm9NmrTqdelaz6lksrO4sBpBYKbhyYz6e2lipKCllCO/eERkWnHKOJdPFKDCLvk9o3Sz0bAxrsSJbp5AtMeJktOpHu0ZE/cgcWha6GmGlo7ObCpVlg8DiZWTL47BiUIQGMhDcz0bK0uDNVwbH8GiKXLJmd6673o0nzXH/LZOpQ1cjyhVA1yx28KahTaFoIbCMqrezjDBoflsapIUNKaFqwpeIlYXtkf5pIJ+gb4uiz9L2KFGZ3S9KJO8RhY=
        file: bin/rd
        cleanup: false
        on:
          repo: computations/root_digger
          tags: true
