language: cpp
script: make
matrix:
  include:
    - os: linux
      dist: trusty
      env: CXX_COMPILER=g++-7
      addons:
        apt:
          sources:
          - ubuntu-toolchain-r-test
          packages:
          - g++-7
          - libgsl2-dev
    - os: linux
      dist: trusty
      compiler: clang++
      addons:
        apt:
          sources:
          - ubuntu-toolchain-r-test
          packages:
          - g++-7
          - libgsl2-dev
    - os: osx
      osx_image: xcode9.2
    - os: osx
      osx_image: xcode8.3
before_install:
    - if [ -n "${C_COMPILER}" ]; then export CC="${C_COMPILER}"; fi
    - if [ -n "${CXX_COMPILER}" ]; then export CXX="${CXX_COMPILER}"; fi
