language: cpp
script: make static-gsl
before_install:
- if [ -n "${C_COMPILER}" ]; then export CC="${C_COMPILER}"; fi
- if [ -n "${CXX_COMPILER}" ]; then export CXX="${CXX_COMPILER}"; fi
- wget ftp://ftp.gnu.org/gnu/gsl/gsl-2.5.tar.gz
- tar xf gsl-2.5.tar.gz
- pushd gsl-2.5; ./configure && make && sudo make install; popd
matrix:
  include:
  - os: linux
    dist: trusty
    env: CXX_COMPILER=g++-9
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - g++-9
        - libstdc++-9-dev
  - os: osx
    osx_image: xcode9.2
  - os: osx
    osx_image: xcode8.3
deploy:
  provider: releases
  api_key:
    secure: OVQRNLwhNDngaKdsUqYED2wWkP9U6sVeWXdxU8x2uC7gZGkec/1hunvSY/oKpMd369yqxbm5xDiYvfU/m98TD9kP5bAre0+MHr+FkIRlYqyNI3owfjMZi6XhDBcRzplEziKiE9+QOf3o+0+0Rzd3tx68ncRR0cifbVMM1XYYryY4FEaPn4a8j9ZW+5M3jljGCFNuYgEL/7utsN/dtcW8+ooD0Em/dw65kYVAOjMZc6xzWfaKWz9FxXK8Hw/s7EkVUHWcNGAaPPsVVBWQDmba57ITzPz71zrDDK0dLuhmaqmL1xXEHMe8BMPLWd7Xv3lvcCYQ03W6QOQ+NNHwvVhE7Q5RjjM5ekJVvjv5rcJ4gFvArB9uLIMcLj3bBVd0FtRriGVLGcRnjsgc1ixQqaZ+KIkCZrPM8830hhFxSEaw/XTjAiH5nm9NmrTqdelaz6lksrO4sBpBYKbhyYz6e2lipKCllCO/eERkWnHKOJdPFKDCLvk9o3Sz0bAxrsSJbp5AtMeJktOpHu0ZE/cgcWha6GmGlo7ObCpVlg8DiZWTL47BiUIQGMhDcz0bK0uDNVwbH8GiKXLJmd6673o0nzXH/LZOpQ1cjyhVA1yx28KahTaFoIbCMqrezjDBoflsapIUNKaFqwpeIlYXtkf5pIJ+gb4uiz9L2KFGZ3S9KJO8RhY=
  file: bin/rd
  on:
    repo: computations/root_digger
